@import './src/assets/scss/variables.scss';

.cart {
    border: 1px solid $lightgray1;
    padding: 12px;
    border-radius: $alpha;

    app-cart-icon {
        margin-top: $delta;
        margin-bottom: $gamma;
    }

    app-cart-icon + span {
        margin: $none $gamma 76px $gamma;
        text-align: center;
    }

    h2 {
        font-size: $larger;
        font-weight: bold;
        color: $darkgray2;
        margin-right: $alpha;
    }

    span {
        font-size: $normal;
        line-height: 1.7em;
        color: $midgray1;
    }

    &__title {
        margin: $alpha 8px $gamma 8px;
    }

    &__product-list {        
        display: grid;
        gap: $gamma;
        margin: $none 8px;
    }

    &__summary {
        display: grid;
        grid-template-rows: 1fr;
        margin-top: $gamma;
        gap: 12px;

        &-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: $none 8px;

            div {
                text-align: right;
                font-size: $large;
                font-weight: bold;
                color: $darkgray1;
            }
        }

        &-item.total div {
            font-size: $extralarge;
        }
    }

    &__button {
        height: $eta;
        color: $white;
        font-size: $normal;
        font-weight: bold;
        background-color: $blue1;
        border-radius: 3px;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

}