<div class="cart">
  <div class="cart__title p-grid p-nogutter">
    <h2>Carrinho</h2>
    <span *ngIf="hasProducts">
      ({{ products.length }} {{ hasSingleProduct ? 'ítem' : 'ítens'}})
    </span>
  </div>
  <div class="cart__product-list">
    <ng-container *ngFor="let product of products">
      <app-cart-product [product]="product"></app-cart-product>
    </ng-container>
  </div>
  <div class="cart__summary"
       *ngIf="hasProducts; else noProducts">
    <div class="cart__summary-item">
      <span>subtotal</span>
      <div>{{ subtotal | currency: 'BRL' }}</div>
    </div>
    <div class="cart__summary-item">
      <span>frete</span>
      <div >{{ shipping | currency: 'BRL' }}</div>
    </div>
    <div class="cart__summary-item total">
      <span>total</span>
      <div>{{ total | currency: 'BRL' }}</div>
    </div>
    <div class="cart__button">
      finalizar compra
    </div>
  </div>
  <ng-template #noProducts>
    <app-cart-icon class="p-grid p-nogutter"></app-cart-icon>
    <span class="p-grid p-nogutter">
      Até o momento o seu carrinho está vazio
    </span>
  </ng-template>
</div>
