// Colors
$white:       #ffffff;
$black:       #000000;
$lightgray1:  #E1E1E1;
$lightgray2:  #EEEEEE;
$midgray1:    #7F7575;
$midgray2:    #746A6A;
$darkgray1:   #423B3B;
$darkgray2:   #363636;
$blue1:       #54A3FF;
$blue2:       #3486E6;
$blue3:       #3487DC;

// Spacing Sizes
$none:		    0;
$alpha:     	5px;
$beta:      	10px;
$gamma:     	20px;
$delta:     	30px;
$epsilon:   	40px;
$eta:        	50px;
$iota:          60px;
$zeta:       	70px;

// Font Sizes
$small:         12px;
$normal:        14px;
$large:         16px;
$larger:        18px;
$extralarge:    20px;
$huge:          48px;
