@import './src/assets/scss/variables.scss';

div {
    width: 100%;
    height: 80px;
    justify-content: center;
    display: flex;

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: $blue2 transparent $blue2;
        animation: dual-ring 1.1s linear infinite;
    }
}

@keyframes dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}