<div class="product"
     (mouseover)="checkProduct(true, product)"
     (mouseleave)="checkProduct(false)"
     (click)="toggleProductToCart(product)">
  <div class="product__img">
    <img *ngIf="hasImagesLoaded"
          src="assets/img/{{product.image}}">
    <app-spinner-loader *ngIf="!hasImagesLoaded"></app-spinner-loader>
  </div>
  <div class="product__description">
    <ng-container *ngIf="!isMouseOver">
      <span>{{ product.name }}</span>
      <div>{{ product.price | currency: 'BRL' }}</div>
    </ng-container>
    <ng-container *ngIf="isMouseOver">
      <div *ngIf="!hasProduct">Adicionar ao carrinho</div>
      <div *ngIf="hasProduct">Remover do carrinho</div>
    </ng-container>
  </div>
</div>
