@import './src/assets/scss/variables.scss';

.product {
    cursor: pointer;

    app-spinner-loader {
        display: grid;
        align-content: center;
    }
    
    &__img {
        display: grid;
        justify-content: center;
        background-color: $lightgray2;
        padding: $gamma $none;
        min-height: 220px;
        border-radius: 3px;
    }

    &__description {
        display: grid;
        align-items: center;
        height: $iota;
        text-align: center;

        span {
            display: grid;
            padding-top: $beta;
            color: $midgray2;
            font-size: $large;
        }

        div {
            color: $blue3;
            font-weight: bold;
        }
    }
}