<div class="cart-product"
     (mouseover)="isMouseOver=true"
     (mouseleave)="isMouseOver=fase">
  <div class="cart-product__img">
    <img src="assets/img/{{product.image}}">
  </div>
  <div class="cart-product__description">
    <span>{{ product.name }}</span>
    <div>{{ product.price | currency: 'BRL' }}</div>
  </div>
  <i class="pi pi-times-circle"
     *ngIf="isMouseOver"
     (click)="removeProduct(product)"></i> 
</div>
