@import './src/assets/scss/variables.scss';

.cart-product {
    display: grid;
    grid-template-columns: $iota 1fr $gamma;
    gap: $beta;

    &__img {
        justify-content: center;
        display: flex;
        padding: $alpha $beta;
        background-color: #eee;

        img {
            height: $epsilon;
            align-self: center;
        }
    }

    span, div {
        font-size: $normal;
    }
    span {
        line-height: 1.7em;
        color: $midgray1;
    }

    div {
        font-weight: bold;
        color: $darkgray1;
    }

    i {
        color: $blue1;
        align-self: center;
        cursor: pointer;
        font-size: 22px;
    } 
        

}
