@import './src/assets/scss/variables.scss';

$placeholder-lightgray: #f2f2f2;
$placeholder-gray: #e6e6e6;

%placeholder-main {
    height: 18px;
    border-radius: $alpha;
    margin-bottom: $beta;
    @extend %animate;
}

%animate {
    -webkit-animation-name: pulsating;
    -webkit-animation-duration: 4s;
    animation-name: pulsating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.main-placeholder {
    display: grid;
    gap: 29px;
    grid-template-columns: auto 262px;
    margin: auto;
    padding: 55px $zeta 100px;
    background-color: #ffffff;

    &__head {
        display: grid;
        grid-template-columns: 2.25fr 1fr;
        margin-bottom: $eta;
        height: 48px;

        > div {
            @extend %placeholder-main;
            height: $gamma;
            align-self: end;
        }

        > div:first-child {
            width: 30%;
        }

        > div:last-child {
            width: 100%;
            justify-self: right;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $eta $delta;

        &-product {
            display: grid;

            div {
                @extend %placeholder-main;
                min-height: 220px;
            }
            span {
                @extend %placeholder-main;
                width: 100%;
                height: $gamma;
            }
        }
    }

    &__cart {

        &-container {
            border: 1px solid $lightgray1;
            padding: 12px;
            border-radius: $alpha;
            display: grid;

            span {
                @extend %placeholder-main;
                    height: $gamma;
            }
    
            > span:nth-child(1) {
                width: 40%;
                margin-top: $alpha;
                margin-bottom: $iota;
            }
    
            > span:nth-child(2) {
                width: 100%;
            }
    
            > span:nth-child(3) {
                width: 100%;
            }
        }

    }
}

@keyframes pulsating {  
    0%   {background-color: $placeholder-lightgray;}
    15%  {background-color: $placeholder-gray;}
    75%  {background-color: $placeholder-gray;}
    100% {background-color: $placeholder-lightgray;}
}
