<div class="main-placeholder">
  <div class="p-nogutter">
    <div class="main-placeholder__head p-grid p-nogutter p-justify-between">
      <div></div>
      <div></div>
  </div>
    <div class="main-placeholder__list" >
      <div class="main-placeholder__list-product"
           *ngFor="let product of products">
          <div></div>
          <span></span>
          <span></span>
      </div>
  </div>
  </div>  
  <div class="main-placeholder__cart p-nogutter">
    <div class="main-placeholder__cart-container">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
