<div class="p-grid p-nogutter">
  <app-header></app-header>
  <div class="store"
       *ngIf="hasProducts">
    <div class="p-nogutter">
      <form class="store__product-head p-grid p-nogutter p-justify-between"
            [formGroup]="sortForm">
        <h1>Games</h1>
        <p-dropdown [options]="sortList"
                    formControlName="sort"
                    (onChange)="applySort()"></p-dropdown>
        <div class="p-grid p-nogutter mobile">
          <img src="assets/img/cart-icon.svg">
          <div><strong>{{productsAddedToCart || 0}}</strong></div>
        </div>
      </form>
      <div class="store__product-list" >
        <ng-container *ngFor="let product of products">
          <app-product [product]="product"></app-product>
        </ng-container>
    </div>
    </div>  
    <div class="store__cart p-nogutter">
      <app-cart></app-cart>
    </div>
  </div>
  <app-main-placeholder *ngIf="!hasProducts"></app-main-placeholder>
  <app-footer></app-footer>
</div>
