@import './src/assets/scss/variables.scss';

.store, app-main-placeholder {
    width: 1280px;
    padding-bottom: 100px;
    margin: auto;
}
.store {
    display: grid;
    width: 1280px;
    gap: 29px;
    grid-template-columns: auto 262px;
    margin: auto;
    padding: 55px $zeta 100px;
    background-color: $white;

    h1 {
        font-size: 48px;
        line-height: 48px;
        font-weight: 600;
        color: $darkgray2;
    }

    &__product-head {
        display: grid;
        grid-template-columns: 2.25fr 1fr;
        margin-bottom: $eta;

        p-dropdown {
            display: grid;
            align-self: center;
        }

        .mobile {
            display: none;
        }
    }

    &__product-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $eta $delta;
    }

    &__cart {
        flex: $none $none 300px;
    }

}

@media screen and (max-width: 960px) {
    .store {
        &__product-list {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 760px) {
    .store {
        grid-template-columns: 1fr;

        &__product-head { 
            grid-template-columns: 2.25fr 1fr 1fr;

            .mobile {
                display: flex;
                align-self: center;
                justify-self: center;
                position: relative;

                img {
                    height: 33px;
                }

                div {
                    background: red;
                    width: $gamma;
                    height: $gamma;
                    border-radius: $gamma;
                    text-align: center;
                    color: #fff;
                    font-size: .8em;
                    position: absolute;
                    right: -5px;
                    top: -5px;
                }
            }
        }

        &__product-list {
            grid-template-columns: 1fr;
        }
    }
}
